/*메인 글꼴*/
@font-face {
 font-family: 'InkLipquid';
 src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
 font-weight: normal;
 font-style: normal;
}
/*서브 글꼴*/
@font-face {
 font-family: 'GowunDodum-Regular';
 src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
 font-weight: normal;
 font-style: normal;
}
body,html{background: #F8FAFB; color: #333333;}
.wrap{width: 100%; height: auto;}
/*header*/
#header{width: 100%; height: 100px; position: fixed; z-index: 1000; background: #F8FAFB; border-bottom: 1px solid #A27A51;}
.logo{position: absolute; top: -60px; right: 440px; width: 100px;height: 100px;}
.menu{position: absolute; top: 60px; right: 150px; display: flex; }
.menu>li{margin:-10px 10px;}
.menu>li>a{display: block; border: 1px solid #A27A51; border-radius: 100%; width: 120px; height: 35px; text-align: center; line-height: 35px; font-family: 'InkLipquid'; font-size: 1.2em; color: #A27A51; }
.menu>li:hover>a{background: #A27A51; color: #F8FAFB; }
.sub{position: absolute; z-index: 100; display: none;}
.sub>li>a{display: block; width: 120px; height: 35px; text-align: center; line-height: 35px; font-family: 'InkLipquid'; font-size: 1.2em; color: #A27A51;  background: #F8FAFB; border-radius: 100%; margin: 5px;}
.sub>li:hover>a{background: #A27A51; color: #F8FAFB; }
/*contents*/
.container{padding-top: 100px;}
#contents{width: 100%; height: 700px; display: flex; }
/*pro*/
.pro{width: 50%; height: 100%; display: flex; justify-content: center; align-items: center; box-sizing: border-box; }
.pro img:first-child{height: 450px; margin-left: 100px;}
.pro img:last-child{height: 400px; position: relative; left: -80px; top: 120px;}
/*con*/
.con{width: 50%; height: 100%;  display: flex; flex-wrap: wrap; justify-content: center; align-items: center;}
.ctit{display: flex;  font-family: 'InkLipquid'; color: #A27A51; font-size: 3em; width: 100%; justify-content: center; height: 100px; margin-top: 100px;}
.ctit img{height: 80px;}
.ctxt{width: 100%; height: 400px;  font-family: 'GowunDodum-Regular'; line-height: 2;  margin-left: 250px;}
.but{width: 100%; height: 200px; font-family: 'InkLipquid'; display: flex;  align-items: center;}
.but p{border: 2px solid #A27A51; width: 150px; height: 40px; font-size: 1.4em; border-radius: 100%; text-align: center; line-height: 40px; color: #A27A51; margin-left: 150px;}
.but p:hover{background: #A27A51; color: #F8FAFB;}
/*footer*/
#footer{width: 100%; height: 400px;  display: flex; border-top: 1px solid #A27A51;}
.space{width: 50%; height: 100%; padding-left: 450px; padding-top: 50px;}
.space p{font-family: 'InkLipquid'; color: #A27A51; font-size: 3em; line-height: 2;}
.space span{ font-family: 'GowunDodum-Regular'; line-height: 2;}
.map{width: 50%; height: 100%; display: flex; justify-content: center; align-items: center;}
.map iframe{width: 80%; height: 80%;}