/*메인 글꼴*/
@font-face {
 font-family: 'InkLipquid';
 src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
 font-weight: normal;
 font-style: normal;
}
/*서브 글꼴*/
@font-face {
 font-family: 'GowunDodum-Regular';
 src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
 font-weight: normal;
 font-style: normal;
}
body,html{background: #F8FAFB; color: #333333; } 
.wrap{width: 100%; height: auto;}
/*header*/
#header{width: 100%; height: 100px; position: fixed; z-index: 1000; background: #F8FAFB; border-bottom: 1px solid #A27A51;}
.logo{position: absolute; top: -60px; right: 440px; width: 100px;height: 100px;}
.menu{position: absolute; top: 60px; right: 150px; display: flex; }
.menu>li{margin:-10px 10px;}
.menu>li>a{display: block; border: 1px solid #A27A51; border-radius: 100%; width: 120px; height: 35px; text-align: center; line-height: 35px; font-family: 'InkLipquid'; font-size: 1.2em; color: #A27A51; }
.menu>li:hover>a{background: #A27A51; color: #F8FAFB; }
.sub{position: absolute; z-index: 100; display: none;}
.sub>li>a{display: block; width: 120px; height: 35px; text-align: center; line-height: 35px; font-family: 'InkLipquid'; font-size: 1.2em; color: #A27A51;  background: #F8FAFB; border-radius: 100%; margin: 5px;}
.sub>li:hover>a{background: #A27A51; color: #F8FAFB; }
/*contents*/
.container{width: 100%; height: auto; padding-top: 100px;}
#contents{ width: 100%; height: auto; }
/*caution*/
.caution{width: 100%; height: 300px; background: #75604a; color: #ffffff; text-align: center;  font-family: 'GowunDodum-Regular'; }
.ctit{font-size: 2.5em; font-weight: bold; line-height: 1.5; padding-top: 35px;}
.ctxt{font-size: 0.9em; line-height: 2; padding-top: 20px;}
/*reser*/
.reser{width: 100%; height: 800px; display: flex; justify-content: center; align-items: center;cursor: pointer;}
/*refund*/
.refund{width: 100%; height: 800px; font-family: 'GowunDodum-Regular'; padding-top: 150px;  padding-left: 200px; box-sizing: border-box;}
h3{ color: #A27A51; font-size: 1.5em; margin-top: -50px; width: 150px; height: 80px;  }
.refund p{display: flex; margin-bottom: 70px; }
.refund strong{width: 200px; height: 30px;}
.refund span{width:1200px; height: 150px;}

/*footer*/
#footer{width: 100%; height: 200px; background: #b1997898;}
.flogo{width: 100%; height: 200px; display: flex; justify-content: center; align-items: center;}